.error {
  color: rgba(255, 0, 0, 0.863);
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 3rem;
}

.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0rem;
}

span {
  color: #83817f;
  font-size: 20px;
  padding: 3px;
  margin-right: 5px;
  font-family: "Kanit", sans-serif;
  color: darkcyan;
}

.task-input {
  all: unset;
  appearance: none;
  font-family: "Kanit", sans-serif;
  font-size: 0.9rem;
  color: #f5f5f5d7;
  background-color: hwb(222 13% 83%);
  text-align: left;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  width: 25rem;
  white-space: pre-wrap; /* Ajusta el texto al siguiente renglón */
  word-wrap: break-word; /* Ajusta las palabras largas al siguiente renglón */
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
  border: none;

}

.task-input:focus {
  outline: none;
}

.task-input::placeholder {
  font-size: 0.9rem;
}

label {
  display: flex;
}

.submit {
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
  color: darkcyan;
  background-color: hwb(222 13% 83%);
  border-radius: 0rem 0 0.7rem 0.7rem;
  padding: 0 1rem;
  border: 2px solid darkcyan;
}

.submit:hover {
  transition: 0.5s;
  background-color: darkcyan;
  color: #282c34;
  cursor: pointer;
}

/* Estilos para pantallas moviles */
@media (max-width: 600px) {
  input {
    width: 15rem;
  }
}

/* Estilos para pantallas de tablet (ancho de 600px a 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  input {
    width: 25rem;
  }
}

/* Estilos para pantallas de PC (ancho mayor a 900px) */
@media (min-width: 900px) {
  input {
    width: 25rem;
  }
}
