.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-size: 8px;
  text-align: left
  ;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 1);
  background-color: hwb(222 13% 83%);
  color: darkcyan;
  border-radius: 0.5rem;
  padding: 1rem 1rem 5rem 1rem;
  width: 30%;
  max-width: 80%; /* Ajusta esto a 'auto' para permitir que el modal se expanda verticalmente */
  word-wrap: break-word;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-radius: 0.7rem;
  background-color: hwb(222 13% 83%);
  padding-left: 1rem;
}

.task-description {
  text-align: start;
  color: darkcyan;
  overflow: auto;
  width: calc(90% - 4rem);
  word-wrap: break-word;
}

.delete-btn {
  background-color: hwb(222 13% 83%);
  font-size: 1rem;
  border-radius: 0 0.7rem 0.7rem 0;
  padding: 2.44rem 1rem 2.44rem 1rem;
  border: 2px solid darkcyan;
}

.delete-btn:hover {
  transition: 0.5s;
  background-color: darkcyan;
  transition: 0.5s;
  cursor: pointer;
  .delete-icon {
    color: hwb(222 13% 83%);
  }
}

.delete-icon {
  color: darkcyan;
}


@media (max-width: 600px) {
  .task-container {
    margin: 1rem 3rem;
  }
}

/* Estilos para pantallas de tablet (ancho de 600px a 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .task-container {
    margin: 1rem 5rem;
  }
}

/* Estilos para pantallas de PC (ancho mayor a 900px) */
@media (min-width: 900px) {
  .task-container {
    margin: 1rem 10rem;
  }
}
