.loading {
    font-size: 3rem;
    color: darkcyan;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.error-loading {
    color: rgba(255, 0, 0, 0.644);
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}